/*body div{
  border-style: double;
  overflow-y: hidden;
}*/
.logo {
  position: absolute;
  display: block;
  margin-left: 5%;
  margin-right: auto;
  width: 90%;
  padding-bottom: 20px;
  user-select: none;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #092c5d; /* Black */
  overflow: hidden;
  padding-top: 20px;
  transition: width 0.5s ease;
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  overflow: hidden;
}
.sidenav a:hover {
  background-color: #ffba42;
  color: #092c5d;
  font-weight: bold;
  border-radius: 12.5%;
}
.sidenav .links {
  margin-top: 200px;
  user-select: none;
}
.content {
  width: 98%;
  height: 95%;
  transition: width 0.5s ease;
}
.title {
  position: relative;
  display: block;
  text-align: center;
  right: 0%;
  width: 100%;
  font-size: 50px;
}
/* Adicione um estilo para ocultar a barra lateral por padrão */
.sidenav.collapsed {
  width: 64px;
}
.sidenav.collapsed a {
  display: none;
}
.main.collapsed {
  margin-left: 64px;
}
.main1.collapsed {
  margin-left: 64px;
}
body {
  background-color: #ffffff;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}
.entry {
  display: flex;
  text-align: center;
  margin: auto;
  width: 40%;
  border: 3px solid #074193;
  padding: 5px;
  font-size: 20px
}
.hist {
  height: 320px;
  overflow-y: auto;
  display: block;
  text-align: left;
  margin: auto;
  width: 80%;
  border: 6px solid #003887;
  background-color: #b2dfff;
  color: #000000;
  padding: 5px;
  font-size: 20px
}
p {
  font-size: 20px;
}
.main1{
  text-align: absolute;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px;
  color: black;
}
.main {
  transition: width 0.5s ease;
  height: 95.0vh;
  text-align: center;
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px;
  color: black;
  overflow-y: hidden;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
.team {
  padding: 5px;
  margin: 5px;
  border-radius: 25px;
  height: 150px;
  box-shadow: 2px 2px 2px -1px #092c5d;
  
}
.teamblock {
  height: 80.0vh;
  width: 70%;
  position: absolute;
  right: 5%;
  display: inline-block;
  overflow-y: auto;
}
.scr1 {
  width: 99.5%;
  height: 83.5vh;
  overflow-y: hidden;
}
.team div {
  display: inline-flex;
  border-radius: 12.5px;
}
.team h1 {
  margin-top: 0px;
  padding-top: 0px;
}

.team a {
  color: #000000;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: bolder;
  font-size: 32px;
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #092c5d;
}

.tpos {
  right: 30%;
  background-color: aliceblue;
  font-weight: bolder;
  text-align: left;
  font-size: 35px;
  margin: 0%;
  padding: 0%;
  width: 10%;
  height: 30%;
}

.pts {
  background-color: aliceblue;
  width: 25%;
  height: 30%;
  left: 25%;
}

.pts div {
  margin-top: 1%;
  margin-left: 1.5%;
  height: 90%;
  width: 48%;
  font-weight: bolder;
  text-align: center;
  font-size: 35px;
}

.tpts {
  background-color: green;
}

.tscr {
  background-color: green;
}
.tplt {
  background-color: red;
}
.tsumarry {
  position: absolute;
  display: inline-block;
  width: 20%;
  height: 50vh;
  left: 20%
}
#ua.tm {
  background-color: rgb(0, 89, 255);
}
#ub.tm {
  background-color: rgb(0, 224, 0);
}
#uc.tm {
  background-color: rgb(0, 0, 8);
}
#da.tm {
  background-color: rgb(166, 23, 180);
}
#db.tm {
  background-color: #e7435e;
}
#ta.tm {
  background-color: aliceblue;
}
#tb.tm {
  background-color: red;
}

.tm a{
  text-shadow: 1px 1px 4px#ffffff;
}

.interno.tscr {
  width: 10vw;
  height: 10vw;
  font-size: 420%;
  border-radius: 16%;
  background-color: white;
  position: absolute;
  margin-left: -8.5%;
}

.pts1 {
  /* position: absolute; */
  background-color: aliceblue;
  width: 75%;
  height: 84%;
  /* left: 0%; */
  font-size: 100px;
  margin-left: 2.5%;
  border-radius: 2.5%;

}

.gblock {
  display: inline-block;
  width: 200px;
  height: 160px;
  border-top-left-radius: 32px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 24px;
  box-shadow: 2px 2px 12px -1px #092c5d;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
  text-decoration: none;
}

.gblock h2 {
  color: white;
  background-color: rgb(51, 204, 202);
  border-radius: 8px;
}
.chat-input {
  margin-top: 20px;
  display: none; /* Inicialmente esconde o campo de entrada */
}
.chat-input input[type="text"] {
  width: calc(100% - 80px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.chat-input button {
  width: 80px;
  padding: 8px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.turma-select {
  margin-top: 10px;
}
.codigo-select {
  margin-top: 10px;
}
#sidebar.collapsed .links{
  display: none;
}
.gainpts.block{
  width: 27%;
  background-color: white;
  border-style: double;
  height: 75%;
  margin: 0;
  position: absolute;
  left: 31%;
}
.block.tplt {
  width: 27%;
    background-color: white;
    border-style: double;
    height: 75%;
    margin: 0;
    position: absolute;
    right: 13%;
}
.pts1 h1{
  font-size: 50%;
}
.interno.tplt {
  display: block;
  font-size: 50px;
}
.teamhist {
  overflow-y: auto;
}

.interno.tpts {
  margin-top: 0px;
  width: 100%;
  font-size: 50px;
}
.team1 {
  background-color: rgb(255, 0, 0);
  padding: 5px;
  margin: 5px;
  border-radius: 5vh;
  height: 90vh;
  box-shadow: 2px 2px 8px -1px #092c5d;
}
.team1 div {
  display: inline-block;
}
.tsumarry div {
  display: block;
}
.teamhist {
  max-height: 55%; /* Defina a altura máxima para a div */
  overflow-y: auto; /* Permitir que o conteúdo seja rolável verticalmente */
}
.team1 a {
  color: #000000;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: bolder;
  font-size: 64px;
  display: block;
  text-decoration: none;
}
.team1 a:hover {
  color: #092c5d;
}
.scr1.interno {
  height: 100%;
}
input {
  width: 50px;
}
table {
  text-align: left;
  font-size: 24px;
}
.game {
  max-width: 720px;
  margin: auto;
}
.game table{
  margin: auto;
}